# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.lock.info
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Bicep
*.bicep.json

# OS
Thumbs.db
.DS_Store
